body {
  transform: scale(1.35);
  transform-origin: 50% 0%;
  background-color: #effefef;
  font-family:
    Palatino,
    Trebuchet MS,
    Arial,
    Helvetica,
    Verdana;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  margin: 0px;
  border: 0px;
  height: 10px;
  background-color: rgb(170, 70, 35);
}

a {
  font-weight: lighter;
  text-decoration: none;
}

div#lecleclistlist {
  padding: 2px;
  width: 800px;
  height: 800px;
}

div#leclist h2 {
  color: rgb(170, 70, 35);
}

div#leclist #name {
  font-style: normal;
  font-size: 0.8em;
}

div#leclist #blurb {
  width: 700px;
  margin-left: 20px;
  border: 1px;
  outline: none;
  outline-width: thin;
  font-style: none;
  font-family: inherit;
  font-size: 0.8em;
  text-indent: 10px;
  background-color: rgb(255, 255, 255);
}

div#leclist ul {
  color: black;
}

div#leclist ul li {
  margin-top: 0.5em;
  color: black;
}

div#leclist ul li a {
  color: blue;
  text-decoration: none;
}

div#hmenu {
  margin: 0;
  padding: 0.3em 0 0.3em 0;
  background: #ddeebb;
  width: 100%;
  text-align: center;
}

div#hmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div#hmenu ul li {
  margin: 0;
  padding: 0;
  display: inline;
}

div#hmenu ul a:link {
  margin: 0;
  padding: 0.3em 6em 0.3em 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #004415;
}

div#hmenu ul a:visited {
  margin: 0;
  padding: 0.3em 6em 0.3em 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #227755;
}

div#hmenu ul a:active {
  margin: 0;
  padding: 0.3em 6em 0.3em 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #227755;
}

div#hmenu ul a:hover {
  margin: 0;
  padding: 0.3em 6em 0.3em 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #f6f0cc;
  background-color: #227755;
}
