body {
  background: #eeeeee;
  color: #696969;
  font-family: Verdana;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0;
  line-height: 22px;
}
#wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 980px;
}
a,
a:visited {
  color: #709b80;
  text-decoration: none;
}
a:hover {
  color: #e27318;
  text-decoration: underline;
}
a img {
  border: medium none;
}
.imgborder {
  border: 1px solid #cccccc;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 2px;
}
a:focus,
a:hover,
a:active {
  outline: medium none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e27318;
  font-family: Times New Roman;
  font-weight: bold;
  margin: 0 0 5px;
  padding: 0;
  text-decoration: none;
}
h1 {
  font-size: 32px;
  line-height: 34px;
}
h2 {
  font-size: 24px;
  line-height: 1.3em;
}
h2 a,
h2 a:visited {
  color: #444444;
  text-decoration: none;
}
h2 a:hover {
  color: #cc3300;
  text-decoration: none;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
p {
  margin: 0;
  padding: 0 0 10px;
}
p2 {
  font-size: 14px;
  padding: 0 0 10px;
}

ul {
  list-style-type: square;
  margin: 0;
  padding: 0 0 15px;
}
ul li {
  list-style-type: square;
  margin: 0 0 0 20px;
  padding: 0;
}
ul ul {
  list-style-type: square;
  margin: 0;
  padding: 0;
}
ol {
  margin: 0;
  padding: 0 0 15px;
}
ol li {
  margin: 0 0 0 20px;
  padding: 0;
}
ol ol {
  margin: 0;
  padding: 0;
}
#header {
  margin: 0 auto;
  padding: 0;
}
#header .inner {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  height: 250px;
  margin-top: 0;
}
#logo {
  float: left;
  margin: 74px 0 0;
  opacity: 1.1;
  overflow: hidden;
  padding: 13px 0;
}
#logo h1 {
  font-family: arial;
  font-size: 35px;
  font-weight: normal;
  line-height: 37px;
  margin: 0;
  padding: 0 0 0 20px;
}
#logo h1 a {
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#logo h1 a:hover {
  color: #e27318;
  text-decoration: none;
}
#logo #slogan {
  color: #ffffff;
  font-size: 19px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 30px;
}
#nav ul {
  background-color: #e27318;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  margin: -16px 0 0;
  padding: 16px 0;
}
#nav ul li {
  display: inline;
}
#nav ul li a:link,
#nav ul li a:visited {
  color: #ffffff;
  font-family: arial;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#nav ul li a:hover,
#nav ul li a:active {
  background-color: #709b80;
  color: #ffffff;
  border-radius: 7px;
}
#banner .inner h2 {
  color: #ffffff;
  font-size: 39px;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.4;
  padding: 56px 335px 0 46px;
  text-decoration: none;
  text-transform: none;
  word-spacing: 0;
}
#content .inner {
  margin-top: 10px;
}
#main h2 {
  color: #e27318;
}
#home-bottom {
  margin: 15px 0 0;
  padding: 15px 0 0;
}
#home-bottom h2 {
  color: #e27318;
  margin-left: 10px;
}
#home-bottom a:link,
#home-bottom a:visited {
  color: #709b80;
  text-decoration: underline;
}
#home-bottom a:hover {
  color: #e27318;
  text-decoration: none;
}
#col1,
#col2 {
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
}
#col2 {
}
#address {
  background-color: #709b80;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  margin: 20px 0;
  padding: 15px;
}
#address h3 {
  color: #ffffff;
}
#footer {
  margin-top: 15px;
}
#footer .inner {
  border-top: 1px solid #cccccc;
  font-size: 10px;
  padding-top: 10px;
  text-align: center;
}
#footer .inner a {
  text-decoration: none;
}
#footer .inner a:hover {
  text-decoration: underline;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
